## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
publish/
build_out/

## Executables and PDBs
*.exe
*.dll
*.pdb
*.so
*.dylib
*.zip

## Visual Studio / VS Code / JetBrains files
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

## Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.visualstate
